/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]rtifacts/

/[Uu]ser[Ss]ettings/

/[Bb]uild/
/[Bb]uilds/
/[Ee]xported[Oo]bj/
/*_BackUpThisFolder_ButDontShipItWithYourGame/
/[Bb]urst[Dd]ebug[Ii]nformation_*/
*.apk
*.aab
*.app
*.ipa
*.unitypackage
*.unitypackage.meta

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.tmp
*.pidb.meta
*.pdb.meta
*.mdb.meta

.vs/
.idea/
/.consulo/
.vscode/

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/[Ss]treamingAssets/aa.meta

sysinfo.txt
crashlytics-build.properties

.DS_Store
._*
Thumbs.db
ehthumbs.db
desktop.ini

!/[Aa]ssets/**/*.meta
